body {
    background: rgb(8,27,9);
    background: linear-gradient(90deg, rgba(8,27,9,1) 0%, rgba(15,144,34,1) 69%, rgba(29,89,101,1) 97%);
}

main {
    align-items: center;
    justify-content: center;
    position: relative;
}

main > div {
    display: flex;
    justify-content: center;
}

main > div > section {
    align-items: center;
    border-radius: 6px;
    max-width: 33%;
}

main > div > section img {
    border-radius: 6px;
    height: 300px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px;
    width: 300px;
}

h1 {
    font-family: 'Henny Penny';
    font-size: 80px;
    font-style: oblique;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 0.1em 0.1em 0.05em rgb(6, 129, 6);
    
}

p {
    color: aquamarine;
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
    margin: 15px;
    text-align: center;
   
    
}